[Desktop Entry]
Name=Wirebird
Comment=Network Configuration and Monitoring
Exec=/usr/bin/wirebird
Icon=/usr/share/wirebird/data/icons/wirebird.png
Terminal=false
Type=Application
Categories=Utility;Network;
